.hero-image{
    background-image: url("./images/mountains.jpg");
    height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 100%;
}

body{
    background-color: rgb(0, 87, 158);
}

.hero-text{
    color: azure;
    position: absolute;
    top: 240px;
    text-align: center; 
    width: 100%;
    font-size: 4rem;
    font-family: 'Caledonia', serif;;
}

.info{
    color: azure;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.three-column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}